<html>
<head>
	<link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css" />
	<title>Burger Bonanza</title>
</head>
<body>
	<img src="/assets/img/burger.png" width="400px" id="burger">
	{{{ body }}}
</body>
</html>