<html>

<head>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css" />
	<title>Burger Bonanza</title>
</head>

<body>
	<img src="/assets/img/burger.png" width="375px" id="burger">
	{{{ body }}}
</body>

</html>